.w-i a i{
	width: 5%;
	right: 20px;
	margin: 0 auto;
	position: fixed;
	text-align: end;
	bottom: 30px;
	color: green;
	z-index: 100;
}
.navbar-brand{
	width: 40%;
}
html,body{
	overflow-x: hidden;
}

/* form */
:root {
	--color-1: #f0faff;
	--color-2: lime;
	--color-3: #020403;
  
	--fonts-1: 15px;
	--fonts-2: 22px;
	--fonts-3: 25px;
  }
  .show {
	border: none;
  }
  @keyframes animate {
	0%,
	100% {
	  transform: translate(-50%, -50%) scale(1);
	}
	50% {
	  transform: translate(-50%, -50%) scale(1.03);
	}
  }
  .pop-up {
	display: none;
	position: fixed;
	top: 54%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%) scale(1);
	animation: animate 1s ease-in-out;
	z-index: 99999;
  }
  .pop-up.active {
	display: block;
  }
  .overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	width: 100%;
	height: 100%;
	background: rgba(2, 4, 3, 0.596);
  }
  .overlay.active {
	display: block;
  }
  .btn{
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
  }
  .btn button{
	background-color: #3204ff;
	border: none;
	width: 45%;
	color: #ffffff;
	font-size: 20px;
	border-radius: 5px;
	padding: 6px;
  }
.pop-up{
   z-index: 10000;
}